<template>
  <div class="q-pa-lg page" style="height: 100vh">
    <div class="q-pt-md">
      <div class="row justify-between">
        <p class="text-h5 title q-mt-md">Activation</p>
        <q-spinner
          v-if="loading"
          class="q-mt-lg q-ml-md"
          color="orange"
          size="2em"
        />
      </div>
      <q-separator color="orange-4" />
      <div>
        <div class="q-pa-md">
          <q-table
            :data="allActivation"
            :columns="columns"
            row-key="name"
            dark
            color="amber"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.value }}
                </q-td>
                <q-td class="row justify-center q-pr-lg">
                  <q-btn
                    v-if="props.row['status'] != 'active'"
                    size="sm"
                    color="orange"
                    flat
                    @click="openActivateShop(props.row)"
                    >Activate</q-btn
                  ><q-btn
                    v-if="props.row['status'] == 'active'"
                    size="sm"
                    color="green"
                    flat
                    >{{ props.row["status"] }}</q-btn
                  >
                </q-td>
              </q-tr>
            </template></q-table
          >
        </div>
      </div>
    </div>
    <q-dialog persistent :value="openActivateModal">
      <q-card class="alert-card text-white">
        <q-card-section>
          <div class="text-h6">Shop Activation</div>
        </q-card-section>
        <q-card-section class="card-section row justify-center">
          <p class="text-h5 text-black">Active this shop request ?</p>
        </q-card-section>
        <q-card-actions class="card-section" align="right">
          <q-btn
            @click="openDoc()"
            class="button"
            label="Document"
            color="primary"
            v-close-popup
          />
          <q-btn
            @click="active()"
            class="button"
            label="Confirm"
            color="green"
            v-close-popup
          />
          <q-btn
            @click="openActivateModal = false"
            class="button"
            color="red"
            label="Cancel"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "UserPage",
  components: {},
  data() {
    return {
      loading: false,
      userSettingModal: false,
      activateMerchantModal: false,
      openActivateModal: false,
      selectedActivation: null,
      columns: [
        {
          name: "shopName",
          align: "left",
          label: "Shop Name",
          field: "shopName",
          sortable: true
        },
        {
          name: "phone",
          align: "left",
          label: "Phone",
          field: "phone",
          sortable: true
        },
        {
          name: "shopType",
          align: "left",
          label: "Shop Type",
          field: "shopType",
          format: val => `${val.toString()}`
        },
        {
          name: "shopDescription",
          align: "left",
          label: "shopDescription",
          field: "shopDescription",
          sortable: true
        },
        { name: "status", align: "left", label: "Status", field: "status" }
      ]
    };
  },
  computed: {
    ...mapState({
      allActivation: state => state.auth.allActivation
    })
  },
  methods: {
    openActivateShop(aid) {
      this.openActivateModal = true;
      this.selectedActivation = aid;
    },
    async active() {
      await this.$store.dispatch("activateShop", this.selectedActivation);
      this.$router.replace("/admin");
    },
    openDoc() {
      window.open(
        `${
          this.selectedActivation["file"] ? this.selectedActivation["file"] : ""
        }`
      );
      this.openActivateModal = false;
    }
  },
  async mounted() {
    this.loading = true;
    await this.$store.dispatch("getAllActivation");
    this.loading = false;
  }
};
</script>

<style scoped>
p {
  color: white;
}
.title {
  letter-spacing: 2px;
}
.banner {
  padding-right: 40px;
}
.user-description {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 300;
  /* line-height: 15px; */
}
.fav-card {
  background-color: #f7971e;
  width: 18%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.avatar {
  border-radius: 125px;
  width: 250px;
}
.alert-card {
  font-family: "Prompt", sans-serif;
  background-color: #f7971e;
  width: 25vw;
}
</style>
