<template>
  <q-page class="page column q-pt-md q-pr-xl">
    <div v-if="!loading">
      <div style="width: 100%">
        <p style="letter-spacing: 2px" class="text-h4 q-mt-md">
          Orders
        </p>
        <q-separator class="q-mb-md" color="orange-4" />
        <div v-for="item in ordersInShop" :key="item.createdAt">
          <div class="order-card row">
            <div class="col-3">
              <p class="date text-h6 text-orange">{{ getDate(item.createdAt) }}</p>
              <p class="date">Name : {{ item.name }}</p>
              <p class="date">Address : {{ item.address }}</p>
            </div>
            <div class="col-9">
              <p class="text-h6 text-orange">Product List :</p>
              <div v-for="product in item.products" :key="product[0]">
                <div v-for="pd in product[1]" :key="pd.id + pd.size">
                  <div v-if="product[0] == user.sid" class="row">
                    <p class="col-3">{{ pd.name }}</p>
                    <p class="col-1">Size : {{ pd.size }}</p>
                    <p class="col-1">Quantity : {{ pd.quantity }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <q-spinner class="q-mt-lg" color="orange" size="4em" :thickness="8" />
    </div>
  </q-page>
</template>

<script>
import ShopBanner from "../components/ShopBanner.vue";
import { mapState } from "vuex";
export default {
  name: "Orders",
  components: { ShopBanner },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState({
      user: state => state.auth.user,
      ordersInShop: state => state.auth.ordersInShop
    })
  },
  methods: {
    getDate(date) {
      return new Date(date).toDateString();
    }
  },
  async beforeMount() {
    this.loading = true;
    await this.$store.dispatch("getUserData", localStorage.getItem("uid"));
    await this.$store.dispatch("getOrdersBySid", this.user.sid);
    console.log("ordersInShop", this.ordersInShop);
    this.loading = false;
  }
};
</script>

<style scoped>
p {
  color: white;
}
.banner {
  padding-right: 40px;
}
.order-card {
  padding: 15px;
  background: #424242;
  margin-bottom: 12px;
  border-radius: 7px;
}
</style>
