<template>
  <q-page class="page column q-pt-md items-start">
    <div style="width: 100%">
      <p style="letter-spacing: 2px" class="text-h4 q-mt-md">
        Children Cloth
      </p>
      <q-separator class="q-mb-md" color="orange-4" />
    </div>
    <div v-if="!loading">
      <div class="products row">
        <ProductCard
          class="product"
          v-for="item in productsInSub"
          :key="item.id"
          :data="item"
        ></ProductCard>
      </div>
    </div>
    <div v-else>
      <q-spinner class="q-mt-lg" color="orange" size="4em" :thickness="8" />
    </div>
  </q-page>
</template>

<script>
import ShopBanner from "../components/ShopBanner.vue";
import { mapState } from "vuex";
import ProductCard from "../components/ProductCard.vue";
export default {
  name: "PageIndex",
  components: { ShopBanner, ProductCard },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState({
      productsInSub: state => state.auth.productsInSub
    })
  },
  async beforeMount() {
    this.loading = true;
    await this.$store.dispatch("getProductByType", "children");
    this.loading = false;
  }
};
</script>

<style scoped>
p {
  color: white;
}
.banner {
  padding-right: 40px;
}
.products {
  min-width: 80vw;
}
.product {
  width: 280px;
  padding-right: 30px;
}
</style>
