<template>
  <q-dialog persistent :value="openModal">
    <q-card class="card text-white">
      <q-card-section>
        <div class="text-h6">Edit Shop</div>
      </q-card-section>

      <q-card-section class="card-section">
        <q-input
          type="textbox"
          color="orange-4"
          standout
          v-model="shopDescription"
          label="Shop Description"
          error-message=""
          :error="false"
        >
        </q-input>
        <q-select
          multiple
          color="orange-4"
          standout
          v-model="shopType"
          :options="options"
          label="Shop Type"
          error-message=""
          :error="false"
        />

        <p class="upload">Upload shop's image</p>
        <q-input
          type="file"
          color="orange-4"
          standout
          v-model="shopImage"
          error-message=""
          :error="false"
          accept=".jpg, image/*"
        >
        </q-input>

        <p class="upload">Upload shop's banner image</p>
        <q-input
          type="file"
          color="orange-4"
          standout
          v-model="shopBanner"
          error-message=""
          :error="false"
          accept=".jpg, image/*"
        >
        </q-input>

        <!-- <q-input
          color="orange-4"
          standout
          v-model="email"
          label="Email"
          error-message="The email is invalid."
          :error="isEmail"
        >
        </q-input> -->
        <!-- <q-input
          color="orange-4"
          standout
          v-model="email"
          label="E-mail"
          error-message="The email is invalid."
          :error="isEmail"
        >
        </q-input>
        <q-input
          color="orange-4"
          standout
          v-model="password"
          type="password"
          label="Password"
          error-message="Please use minimum 6 characters."
          :error="isValid"
        >
        </q-input> -->
        <q-spinner class="spinner" v-if="isLoading" size="3em" :thickness="7" />
      </q-card-section>

      <!-- <q-card-section class="row status justify-center card-section" v-else>
        <p class="text-h5">Your status is</p>
        <p
          class="q-ml-md status text-h5"
          style="color: #f7971e; font-weight: bold"
        >
          {{ activation.status.toUpperCase() }}
        </p>
      </q-card-section> -->

      <q-card-actions class="card-section" align="right">
        <q-btn class="button" @click="saveEditShop()" flat label="save" />
        <q-btn
          @click="closeModal()"
          class="button"
          flat
          label="Cancel"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "editshop",
  props: ["openModal", "data", "sid"],
  data() {
    return {
      shopImage: "",
      shopBanner: "",
      shopName: "",
      shopDescription: "",
      shopType: [],
      isLoading: false,
      alert: false,
      options: [
        "children",
        "men",
        "women",
        "shoes",
        "watches",
        "dressing",
        "swimwear"
      ]
    };
  },
  computed: {
    ...mapState({
      user: state => state.auth.user,
      activation: state => state.auth.activation,
      shop: state => state.auth.shop
    }),
    isValid() {
      if (this.password === "") {
        return false;
      } else {
        return this.password.length < 5;
      }
    },
    isEmail() {
      var n = this.email.indexOf("@");
      if ((this.email !== "") & (n === -1)) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
    async saveEditShop() {
      await this.$store.dispatch("updateShop", {
        sid: this.sid,
        shopImage: this.shopImage,
        shopBanner: this.shopBanner,
        shopName: this.shopName,
        shopDescription: this.shopDescription,
        shopType: this.shopType
      });
      // this.$store.dispatch("getActivation", localStorage.getItem("uid"));
      // this.citizenId = "";
      // this.phone = "";
      // this.document = "";
      // this.shopName = "";
      // this.shopDescription = "";
      // this.shopType = "";
      // this.$emit("closeModal");
    }
  },
  async mounted() {
    this.loading = true;
    await this.$store.dispatch("getActivation", localStorage.getItem("uid"));
    await this.$store.dispatch("getShopDataBySid", this.user.sid);
    this.shopName = this.shop.name;
    this.shopDescription = this.shop.description;
    this.shopType = this.shop.type;
    this.loading = false;
  }
};
</script>

<style scoped>
.upload {
  padding: 0px 15px;
  color: rgb(131, 131, 131);
  font-size: 12px;
  font-weight: bold;
}

.status {
  color: black;
}

.card {
  background-color: #f7971e;
  width: 30vw;
}

.alert-card {
  background-color: #f7971e;
  width: 25vw;
}

.card-section {
  background-color: white;
}
.button {
  background-color: white;
  color: #f7971e;
}
.register-code {
  text-align: center;
  font-size: 16px;
}
.spinner {
  margin-left: 12vw;
  color: #f7971e;
}

@media only screen and (max-width: 1400px) {
  .card {
    background-color: #f7971e;
    width: 80vw;
  }
  .alert-card {
    background-color: #f7971e;
    width: 75vw;
  }
  .spinner {
    margin-left: 30vw;
    color: #f7971e;
  }
}
</style>
